.App{
    background-color: #f8fafc;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf5ff;
    border-bottom: 1px solid #cbd5e1;
    padding: 15px 60px;
    
}
header h1{
color: #64748b;
}
header a{
    font-size: 28px;
    margin-left: 15px;
    color: #a855f7;
    
}