.App{
    background-color: #f8fafc;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf5ff;
    border-bottom: 1px solid #cbd5e1;
    padding: 15px 60px;
    
}
header h1{
color: #64748b;
font-size: 27px;
}
header a{
    font-size:30px;
    margin-left: 25px;
    color: #a855f7;
    
}
header input{
    padding: 7px 15px;
    border: 1px solid #d8b4fe;
    border-radius: 7px;
    width: 18rem;
    color: #475569;
}
header input:focus{
    border: 2px solid #a855f7;
}