.listWraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.contactList{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #475569;
    max-width: 25rem;
    background-color: #312e81;
    border-radius: 11px;
    overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
    height:100vh;
    
}
.acontactList::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
  }
.contactList h3{
    font-size: 16px;
    margin-bottom: 7px;

}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    border: 1px solid #cbd5e1;
    border-radius: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 20rem;
    background-color: #fcfbf8;
    scroll-snap-align: start;
}
.item a{
    text-decoration: none;
    color: #475569;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.item img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.details{
    display: flex;
    flex-direction: row;
}
.item button{
    font-size: 18px;
    color:#f43f5e;
    background-color: #f8fafc;
    border-radius: 7px;
    cursor: pointer;

}
.edit {
    color: #9333ea !important;
    cursor: pointer;
    margin-right: 5px;
    font-size: 18px;
}
.firstContact{
    
    color: #a855f7;
    cursor: pointer;
    padding: 10px;
}
.firstContact a{
    text-decoration: none;
    font-weight: bold;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    background-color: #faf5ff;
    padding: 7px;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #312e81;
    position: sticky;
    top: 0;
    
}
.nav .icon a{
    font-size:24px;
    margin-left: 10px;
    color: #a855f7;
    
}
.search input{
    padding: 7px 15px;
    border: 1px solid #d8b4fe;
    border-radius: 7px;
    width: 12rem;
    color: #475569;
    margin: 0px 10px;
}
.search input:focus{
    border: 2px solid #a855f7;
}